.link-column {
  display: flex;
  position: fixed;
  bottom: 0;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  margin: 0px;
  padding: 0px;
  height: 30%;
  list-style: none;
  border-bottom: 20px solid black;
  border-top: 10px solid black;
}

#link-item {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}